* {
  box-sizing: border-box;
  font-family: 'Arial, Helvetica, sans-serif' 'Roboto';
}

.app-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to right, #ffffff, #cffcf1);
  background-size: cover;
  height: 100vh;
  box-shadow: 0px 4px 16px 0px #bfbfbf;
}
.title {
  margin-top: 56px;
  color: #1e293b;
  font-size: 19px;
  font-weight: 700;
  margin-bottom: 0;
}
@media (min-width: 768px) {
  .app-container {
    background-image: linear-gradient(
      to right,
      #ffffff,
      #cffcf1,
      #cffcf1,
      #ffffff
    );
    justify-content: space-evenly;
  }
  .title {
    margin-top: 99px;
    /* margin-bottom: 34px; */
    font-size: 27px;
  }
}
@media (min-width: 992px) {
  .title {
    font-size: 44px;
  }
}

.app-details-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}
@media (min-width: 768px) {
  .app-details-section {
    flex-direction: row;
    /* justify-content; */
  }
}
.timer-card {
  background-image: url('https://assets.ccbp.in/frontend/react-js/digital-timer-elapsed-bg.png');
  background-size: cover;
  width: 250px;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 29px;
}
.timer {
  width: 89px;
  height: 89px;
  border: none;
  border-radius: 50%;
  background-color: #ffffff;
  text-align: center;
  padding: 5px 3px;
  margin-left: 35px;
}
.timer-count {
  color: #00d9f5;
  margin-bottom: 0;
}
.timer-state {
  font-size: 11px;
  font-weight: 700;
  color: #0f172a;
  margin-top: 0;
}
@media (min-width: 768px) {
  .timer-card {
    width: 396px;
    height: 396px;
    margin-right: 0;
  }
  .timer {
    width: 33%;
    height: 33%;
    /* padding: 19px 11px; */
  }
  .timer-count {
    font-size: 23px;
    margin-top: 29%;
  }
  .timer-state {
    font-size: 13px;
  }
}
@media (min-width: 992px) {
  .timer-card {
    width: 566px;
    height: 566px;
  }
  .timer {
    width: 33%;
    height: 33%;
    /* padding: 19px 11px; */
    margin-left: 19%;
  }
  .timer-count {
    font-size: 39px;
    margin-top: 25%;
  }
  .timer-state {
    font-size: 21px;
    color: #2f3d53;
    font-weight: 700;
  }
}
.timer-settings {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 17px;
}
@media (min-width: 768px) {
  .timer-settings {
    width: 45%;
    align-items: center;
    justify-content: space-evenly;
  }
}

.timer-controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.controls-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: none;
  background-color: transparent;
  font-size: 13px;
  font-weight: 700;
  color: #0f172a;
  outline: none;
  cursor: pointer;
}
.control-icon {
  width: 19px;
  height: 19px;
  margin-right: 2px;
}
@media (min-width: 768px) {
  .timer-controls {
    width: 50%;
  }
  .controls-button {
    font-size: 25px;
  }
  .control-icon {
    width: 23px;
    height: 23px;
    margin-right: 7px;
  }
}
@media (min-width: 992px) {
  .controls-button {
    font-size: 29px;
  }
  .control-icon {
    width: 25px;
    height: 25px;
    margin-right: 7px;
  }
}

.limit-controls {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  margin-top: 15px;
}
.limit-caption {
  font-size: 9px;
  color: #1e293b;
  font-weight: 700;
  margin-bottom: 0;
}
@media (min-width: 768px) {
  .limit-controls {
    margin-left: 19px;
  }
  .limit-caption {
    font-size: 9px;
    margin-left: 0;
  }
}
@media (min-width: 992px) {
  .limit-caption {
    font-size: 11px;
  }
}

.limit-options {
  display: flex;
  align-items: center;
  /* justify-content: center; */
  margin-top: 0;
}
.limit-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: none;
  background-color: transparent;
  font-size: 17px;
  font-weight: 700;
  color: #0f172a;
  outline: none;
  cursor: pointer;
}
.limit-count {
  border: none;
  border-radius: 4px;
  background-color: #00d9f5;
  text-align: center;
  color: #1e293b;
  font-weight: 700;
  font-size: 19px;
  padding: 5px 9px;
  margin-left: 3px;
  margin-right: 3px;
}
@media (min-width: 768px) {
  .limit-button {
    font-size: 21px;
  }
  .limit-count {
    width: 56px;
  }
}
